* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(#2b2b2b, #0f0f0f);
  color: #fff;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center; 
  gap: 30px;
  padding: 20px 40px;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
  z-index: 10;
}

nav a {
  color: #ccc;
  text-decoration: none;
}

nav a:hover {
  color: white;
}

.section {
  min-height: 5vh;   
  padding: 60px 40px;  
}


.hero {
  display: flex;
  justify-content: center; 
  align-items: center;     
  gap: 40px;               
  text-align: center;      
  flex-wrap: wrap;        
}

.split {
  display: flex;
  justify-content: center; 
  align-items: center;    
  gap: 60px;               
  text-align: center;      
  flex-wrap: wrap;        
}


.profile {
  width: 220px;
  border-radius: 12px;
}


.text {
  max-width: 500px;
}

.canvas-box {
  width: 400px;
  height: 300px;
}

button {
  margin-top: 15px;
  margin-right: 10px;
  padding: 10px 18px;
  background: #333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #555;
}
#skills {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;    
  text-align: center;     
  gap: 20px;               
  min-height: 5ch;      
}
